body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4918ee;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures the game is centered vertically */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

#wrong-letters {
    font-size: 18px;
    margin-bottom: 20px;
    color: red;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #174f43;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 200px;
}

.hidden {
    display: none;
}

#win-message {
    font-size: 24px;
    color: green;
    margin-top: 20px;
}
#lose-message {
    font-size: 24px;
    color: red;
    margin-top: 20px;
}

#lose-word {
    font-weight: bold;
}
#try-again {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#try-again:hover {
    background-color: #0056b3;
}